* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #d2cccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

header {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.photo {
  width: 100%;
  background-color: #fff; /* SHORTENED HEX */
  border-style: hidden;
  padding: 4rem;
  padding-left: 15rem;
  padding-right: 15rem;
  margin: auto;
}

.photo img {
  width: 100%;
}

.photo p {
  padding-left: 8rem;
  margin-top: 2rem;
}

.herotext {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 32px;
  justify-content: center;
  align-items: center;
  padding-left: 10rem;
}

.ul-list {
  display: flex;
  width: 50%;
}

ul li {
  flex-direction: column;
  gap: 12px;
}

.ul-list li {
  margin-bottom: 16px;
}

.highlight p {
  display: flex;
  gap: 10px;
}

.name p {
  display: flex;
  gap: 12px;
}
